/*  CSS PATTERN FOR LOGIN AND HOME PAGES */
@import url('https://fonts.googleapis.com/css?family=Lato');

.body {
  min-height: 80vh;
}

.body a {
  color: #7F479B;
  font-weight: 600px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}

.body p {
  color: #7F479B;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}

.form-submit {
  display: block;
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 3px solid #7F479B;
  border-radius: 6px;
}

.form-submit h1 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto 8px;
}
.card-links {
  display: block;
  width: 80%;
  max-width: 400px;
  margin: 16px auto auto;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 3px solid #7F479B;
  border-radius: 6px;
}
