@import url('https://fonts.googleapis.com/css?family=Lato');
.body {
  min-height: 80vh;
}

.confirmation {
  display: block;
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 3px solid #7F479B;
  border-radius: 6px;
}

.confirmation h1 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto 8px;
}

.confirmation img {
  width: 280px;
  max-width: 80%;
  margin: 16px auto;
}

.confirmation p {
  color: #7F479B;
}
